.header{
  display: flex;
  justify-content: space-evenly;
  padding: 10px 10px;
  align-items: center;
}
.header-left{
  display:flex;
  justify-content: space-evenly;
  
}
.header-left > .search > input{
  border: none;
  outline: none;
  background: none;
}
.header-left > .search{
  display: flex;
  align-items: center;
  background-color: lightgray;
  padding: 5px 5px;
  border-radius: 10px;
}

.header-right{
  display: flex;
  justify-content: space-evenly;
  
}

.options{
  margin-right: 10px;
  align-items: center;
}